:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#obfour {
  position: relative;
}

.tape {
  position: absolute;
  top: 23%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.img-obfour {
  height: 80vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.tape-controls-play {
  background-color: #181818;
  border: 1px solid #181818;
  color: #f1f1f1;
  border-radius: 2px;
  padding: 4px 4px 2px;
  cursor: pointer;
  font-size: 7px;
  width: 34px;
  height: 20px; 
  transition: all 0.25s ease;
}


.tape-controls-play[data-playing="true"] {
  height: 16px;
  padding: 3px 4px 2px;
}

.tape-controls-play[data-playing="false"] {
  height: 20px;
}
