:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.img-obfour {
  height: 80vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.tape-controls-play {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.tape-controls-play span {
  display: inline-block;
  transition: color 0.3s;
}

.tape-controls-play[data-playing="true"] span {
  color: green;
}

.tape-controls-play[data-playing="false"] span {
  color: red;
}
